target/
!.mvn/wrapper/maven-wrapper.jar
/logs/

### Environment ###
.env
.env.*
!.env.example

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/

### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.classpath
.project
.factorypath

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Operating System ###
.DS_Store
Thumbs.db

README.md